@charset "UTF-8";

body {
  font-family: Helvetica, Serif-serif;
  background-color: #FAFAFA;
  color: #4b4b4b;
}

a {
  color: #2C82C9;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

a:hover {
  color: #36454F;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.center {
  text-align: center;
}

code {
  white-space: pre-wrap;
}

.sidebar {
  padding-right: 25px;
}

#header {
  height: 30px;
  line-height: 30px;
  border-bottom: 2px solid #2C82C9;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
}

.search {
  text-align: right;
}

ul {
  padding: 0px;
  list-style-type: none;
}
